@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Noto+Sans+JP:wght@600&display=swap');


.content{
    margin-top: 10px; 
    margin-left: 100px;
    height: 600px;
    width: 900px;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.jaja{
    margin-top: 10px; 
    margin-left: 100px;
    height: 600px;
    width: 900px;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

#th{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 40px;
    background-color: rgb(59, 137, 233);
    border-radius: 15px;
    color: white;
}

#selector{
    margin-top: 5px;
    border-radius: 15px;
    height: 400px;
    width: 550px;
    background-color: white;
    border: 1px solid rgb(169, 166, 166);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#time{
    display: flex;
    align-items: center;
    justify-content: center;

}

#start{
    margin-top: 15px;
    width: 550px;
    height: 35px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: #ACBCFF;
    color: black;
    background-color: rgb(201, 198, 198);
}

#start:hover{
    background-color: rgb(179, 178, 178);
}

.la{
    width: 350px;
    height: 30px;
    margin-top: 15px;
    border: 1px solid rgb(59, 137, 233);
    border-bottom: 4px solid rgb(59, 137, 233);
}

.x{
    margin-right: 15px;
    cursor: pointer;
}

.vv{
    margin-bottom: -10px;
    color: rgb(59, 137, 233);

}

#selector h5{
    color: red;
}

.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 450px;
    width: 550px;

}

.veer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#ruu{
    display: flex;
    align-items: center;
    
    width: 510px;
    height: 35px;
    background-color: rgb(59, 137, 233);
    border-radius: 10px;
}

#ruu h4{
    text-align: left;
    margin-left: 10px;
    color: white;
}

.frame input{
    width: 500px;
    border: none;
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid rgb(132, 131, 131);
}

.frame button{
    width: 510px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(201, 198, 198);
}

.frame button:hover{
    background-color: rgb(179, 178, 178);
    color: rgb(62, 59, 59);
}

.prev{
    display: flex;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: -450px;
}

.hide{
    display: none;
}



#success span{
    color: rgb(59, 137, 233);
   
}

#success p{
    color: rgb(96, 96, 96);
    font-weight: lighter;
}

#recom{
    display: none;
}

@media only screen and (max-width:600px){
    
   
    .bride{
        display: none;
    }
    
    #recom{
        display: flex;
        margin-top: 15px;
    }
    
    .content{
        margin-top: 10px; 
        margin-left: 0px;
       height: 600px;
        width: 350px;
        font-family: 'Noto Sans JP', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        user-select: none;
    }
    
    .jaja{
        margin-top: 120px; 
        margin-left: 0px;
        min-height: 700px;
        width: 350px;
        font-family: 'Noto Sans JP', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        user-select: none;
        margin-left: -300px;
    }

    #th{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 40px;
        background-color: rgb(59, 137, 233);
        border-radius: 15px;
        color: white;
        margin-top: 12px;
    }
    
    #selector{
        margin-top: 5px;
        border-radius: 20px;
        height: 400px;
        width: 320px;
        background-color: white;
        border: 1px solid rgb(169, 166, 166);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #start{
        margin-top: 15px;
        width: 320px;
        height: 35px;
        font-size: 17px;
        border-radius: 10px;
        border: none;
        background-color: #ACBCFF;
        color: black;
        background-color: rgb(201, 198, 198);
    }

    .la{
        width: 300px;
        height: 40px;
        margin-top: 15px;
        border: 1px solid rgb(59, 137, 233);
        border-bottom: 4px solid rgb(59, 137, 233);
    }

    .frame{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 80px;
        height: 450px;
        width: 320px;
    
    }

    .frame input{
        width: 310px;
       height: 40px;
       
    }

    #ruu{
        display: flex;
        align-items: center;
        
        width: 320px;
        height: 35px;
        background-color: rgb(59, 137, 233);
        border-radius: 10px;
    }
    
    .frame button{
        width: 320px;
        height: 45px;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        background-color: rgb(201, 198, 198);
    }

    .prev{
        display: none;
       
    }

    #success{
      margin-top: 30px;
    }
}