@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Noto+Sans+JP:wght@600&display=swap');

.sidebar{
    background-color: white;
    height: 250px;
    width: 250px;
    border: 1px solid rgb(146, 144, 144);
    position: absolute;
    top: 65px;
    border-radius: 10px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dib{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 83px;
    min-height: 83px;
    user-select: none;
    border: 1px solid rgb(175, 172, 172);
    
}

.dib:hover{
    cursor: pointer;
    background-color: rgba(212, 208, 208, 0.751);
}

#proimg{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

#proimg img{
    border-radius: 80px;
    height: 100%;
    width: 100%;
}

#probox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 150px;
}
.dib h4{
    margin-left: -30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    color: rgb(77, 73, 73);
}

.linker{
    text-decoration: none;
    
}

#profile{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#out{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#setimg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}

#outimg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}

.yu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 150px;
}

.fuu{
    display: none;
}

@media only screen and (max-width: 600px){
    .sidebar{
        background-color: white;
        height: 162px;
        width: 200px;
        border: 1px solid rgb(146, 144, 144);
        position: absolute;
        top: 65px;
        border-radius: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .fuu{
        display: none;
    }
    
    .dib{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 53px;
        min-height: 53px;
        user-select: none;
        border: 1px solid rgb(175, 172, 172);
        
    }

    #proimg{
        width: 50px;
        height: 50px;
        border-radius: 80px;
    }
    #probox{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 130px;
    }
}